@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

  /*  Primary  */
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/*  Neutral  */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--Pale-blue);
}

.card {
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 40px;
    margin: 40px 0;
    background-color: #fff;
}

h1 {
    margin-top: 50px;
}

p {
    margin-top: 30px;
    text-align: center;
    padding: 0 50px;
    color: var(--Desaturated-blue);
}

.plan {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.plan-info {
    width: 100%;
}
.plan-info span {
    display: block;
    font-weight: 700;
}
.plan-link:hover {
    text-decoration: none;
    color: var(--Desaturated-blue);
}
.payment-btn {
    margin-top: 30px;
    background-color: var(--Bright-blue);
    text-decoration: none;
    width: 80%;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: .8em;
    box-shadow: 0 12px var(--Very-pale-blue),
                0 12px var(--Very-pale-blue);
}
.payment-btn:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
}
.cancel {
    color: var(--Desaturated-blue);
    margin-top: 20px;
    font-size: .8em;
    text-decoration: none;
}
.cancel:hover {
    font-weight: 900;
    color: var(--Dark-blue);
}

@media screen and (max-width : 375px) {
    .card {
        width: 100%;
    }
    p {  
        padding: 0 25px 
    }
}